body  {
  background-image: url("/img/background.jpg");
  background-color: #cccccc;
}

img {
	width: 100%;
}

.input-group-text {
	background-color: white;
}

.form-control {
	border-left: none;
}

.eye:hover {
	cursor: pointer;
}